<ngmb-map [center]="[-96,30]" [zoom]="4"
    [style]="'https://api.maptiler.com/maps/eef16200-c4cc-4285-9370-c71ca24bb42d/style.json?key=SoL71Zyf7SmLrVYWC7fQ'">

    <ngmb-source [id]="'polygons'" [data]="(geoJson$|async)" [type]="'geojson'"></ngmb-source>
    <ngmb-layer [id]="'DemoLayer'" (onLayerClick)="onLayerClick($event)" (onLayerHover)="onLayerHover($event)"
        [source]="'polygons'" [type]="'fill'" [paint]="{
        'fill-color': '#627BC1',
        'fill-opacity': 0.5
      }">

    </ngmb-layer>
</ngmb-map>

<div id="layer-details" style="bottom:120px ; background-color:white;color:black;width: 300px;"
    *ngIf="selectedLayerPoint">
    <span><b>Longitude:{{selectedLayerPoint.lng}}</b></span>
    <br>

    <span><b>Latitude:{{selectedLayerPoint.lat}}</b></span>
    <br>
</div>
<div id="layer-details" *ngIf="selectedLayerLocation">
    <span><b>{{selectedLayerLocation}}</b></span>
    <br>

</div>