#layer-details{
    background-color:#ECB390;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 200px;
    padding: 14px;
    color: white;
    cursor: pointer;
   
}